html {
  font-size: 100%;
}

body {
  margin: 0;
  font-size: 1em;
  background: url(./imgs/background.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  /*overflow: hidden;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
